@import-normalize;
/*
---------- body styling
*/
body {
  background-color: #e9ebee;
  color: #16161d;
  overflow-y: scroll;
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, ".SFNSText-Regular",
    sans-serif;
}
/*
---------- anchor tag styling
*/
a {
  color: #4267b2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav a {
  color: whitesmoke;
  margin: 0 5px;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 2px;
  float: right;
}
nav a:hover {
  background-color: #385898;
  text-decoration: none;
}
/*
---------- profile component styling
*/
.profile-ul li:hover {
  background-color: #f5f6f7;
}
.profile-ul a:hover {
  text-decoration: none;
}
